
.wizard{
    background-image: url('../assets/icons/figures/wizard.png');
}
.sorceress{
    background-image: url('../assets/icons/figures/sorceress.png');
}
.rogue{
    background-image: url('../assets/icons/figures/rogue.png');
}
.monk{
    background-image: url('../assets/icons/figures/monk.png');
}
.brawler{
    background-image: url('../assets/icons/figures/brawler.png');
}
.sage{
    background-image: url('../assets/icons/figures/sage.png');
}
.archer{
    background-image: url('../assets/icons/figures/rogue.png');
}