/* WEAPONS */
.item{
    background-color: white;
}
.item.highlight{
    background-color: rgba(149, 135, 10, 0.5)
}
.item.highlight.selected{
    background-color: darkgoldenrod;
}
.scimitar{
    background-image: url('../assets/icons/items/weapons/scimitar.png');
    
}
.scepter{
    background-image: url('../assets/icons/items/weapons/scepter.png');
    
}
.flail{
    background-image: url('../assets/icons/items/weapons/flail.png');
    
}
.axe{
    background-image: url('../assets/icons/items/weapons/axe.png');
    
}
.spear{
    background-image: url('../assets/icons/items/weapons/spear.png');
    
}
.sword{
    background-image: url('../assets/icons/items/weapons/sword.png');
    
}

/* HEADGEAR */
.lundi_mask{
    background-image: url('../assets/icons/items/headgear/lundi_mask.png');
    
}
.mardi_mask{
    background-image: url('../assets/icons/items/headgear/mardi_mask.png');
    
}
.zul_mask{
    background-image: url('../assets/icons/items/headgear/zul_mask.png');
    
}
.solomon_mask{
    background-image: url('../assets/icons/items/headgear/solomon_mask.png');
    
}
.bundu_mask{
    background-image: url('../assets/icons/items/headgear/bundu_mask.png');
    
}
.court_mask{
    background-image: url('../assets/icons/items/headgear/court_mask.png');
    
}
.helmet{
    background-image: url('../assets/icons/items/headgear/helmet.png');
    
}

/* CHARMS */
.beetle_charm{
    background-image: url('../assets/icons/items/charms/beetle_charm.png');
    
}
.demonskull_charm{
    background-image: url('../assets/icons/items/charms/demonskull_charm.png');
    
}
.evilai_charm{
    background-image: url('../assets/icons/items/charms/evilai_charm.png');
    
}
.hamsa_charm{
    background-image: url('../assets/icons/items/charms/hamsa_charm.png');
    
}
.lundi_charm{
    background-image: url('../assets/icons/items/charms/lundi_charm.png');
    
}
.nukta_charm{
    background-image: url('../assets/icons/items/charms/nukta_charm.png');
    
}
.scarab_charm{
    background-image: url('../assets/icons/items/charms/scarab_charm.png');
}
/* SHIELDS */
.seeing_shield{
    background-image: url('../assets/icons/items/shields/basic_shield.png');
}
.seeing_shield{
    background-image: url('../assets/icons/items/shields/seeing_shield.png');
}
/* WANDS */
.vardas_wand{
    background-image: url('../assets/icons/items/wands/vardas_wand.png');
}
.glindas_wand{
    background-image: url('../assets/icons/items/wands/glindas_wand.png');
}
.maerlyns_rod{
    background-image: url('../assets/icons/items/wands/maerlyns_rod.png');
}
/* AMULETS */
.lundi_amulet{
    background-image: url('../assets/icons/items/amulets/lundi_amulet.png');
}
.sayan_amulet{
    background-image: url('../assets/icons/items/amulets/sayan_amulet.png');
}
.evilai_amulet{
    background-image: url('../assets/icons/items/amulets/evilai_amulet.png');
}
.nukta_amulet{
    background-image: url('../assets/icons/items/amulets/nukta_amulet.png');
}