.zero{
    background-image: url('../assets/icons/numbers/zero.png');
}
.one{
    background-image: url('../assets/icons/numbers/one.png');
}
.two{
    background-image: url('../assets/icons/numbers/two.png');
}
.three{
    background-image: url('../assets/icons/numbers/three.png');
}
.four{
    background-image: url('../assets/icons/numbers/four.png');
}
.five{
    background-image: url('../assets/icons/numbers/five.png');
}
.six{
    background-image: url('../assets/icons/numbers/six.png');
}
.seven{
    background-image: url('../assets/icons/numbers/seven.png');
}
.eight{
    background-image: url('../assets/icons/numbers/eight.png');
}
.nine{
    background-image: url('../assets/icons/numbers/nine.png');
}