.container{
    /* margin-top: 5%; */
    align-items: center;
    position: relative;
    justify-content: center;
    display: flex;
    width: 1504px;
    height: 420px;
    margin: 0 auto;
    /* border: 1px solid green; */
}
.board{
    width: 1500px;
    height: 410px;
    display: flex;
    flex-flow: row wrap;
    align-content: flex-end;
}
.inventory-panel{
    /* border: 3px solid blue; */
    height: 102px;
    width: 1200px;
    display: flex;
    flex-flow: row wrap;
    align-content: flex-end;
}
.item-row1{
    height: 101px;
    width: 1200px;
    display: flex;
    flex-flow: row wrap;
    align-content: flex-end;
}
.item-row2{
    height: 101px;
    width: 1200px;
    display: flex;
    flex-flow: row wrap;
    align-content: flex-end;
}
.item-row3{
    height: 101px;
    width: 1200px;
    display: flex;
    flex-flow: row wrap;
    align-content: flex-end;
}
.icon{
  background-image: linear-gradient(141deg, #9fb8ad 0%, #1fc8db 51%, #2cb5e8 75%);
}