.container{
    /* margin-top: 5%; */
    align-items: center;
    position: relative;
    justify-content: center;
    display: flex;
    width: 1504px;
    height: 200px;
    margin: 0 auto;
    /* border: 1px solid green; */
}
.board{
    width: 1500px;
    height: 150px;
    /* border: 1px solid black; */
    display: flex;
    flex-flow: row wrap;
    align-content: flex-end;
}
.inventory-panel{
    /* border: 3px solid blue; */
    height: 102px;
    width: 1200px;
    display: flex;
    flex-flow: row wrap;
    align-content: flex-end;
}
.icon{
  /* background: -webkit-linear-gradient(left, #00ff00 50%, #ff0000 50%) !important;
  background: -moz-linear-gradient(left, #00ff00 50%, #ff0000 50%) !important;
  background: -o-linear-gradient(left, #00ff00 50%, #ff0000 50%);
  background: -ms-linear-gradient(left, #00ff00 50%, #ff0000 50%);
  background: linear-gradient(left, #00ff00 50%, #ff0000 50%); */

  /* background-color: #1fc8db; */
  background-image: linear-gradient(141deg, #9fb8ad 0%, #1fc8db 51%, #2cb5e8 75%);
}
.tile-overlay{
    /* background-color: #1fc8db; */
    height: 100px;
    width: 100px;
    opacity: 0.8;
    position: absolute;

    background: 
    /* top, transparent red, faked with gradient */ 
    linear-gradient(
      rgba(255, 0, 0, 0.45), 
      rgba(255, 0, 0, 0.45)
    ),
    /* bottom, image */
    url('../../assets/icons/items/charms/scarab_charm.png');
}