.container{
    align-items: center;
    position: relative;
    justify-content: center;
    width: 1504px;
    height: 1504px;
    margin: 0 auto;
    /* margin- */
}
.board{
    /* margin-top: 300px; */
    width: 1500px;
    height: 1500px;
    border: 1px solid black;
    display: flex;
    flex-flow: row wrap;
    align-content: flex-end;
}
#myCanvas{
    height: 1504px; 
    width: 1504px;
    position: absolute;
    z-index: -1;
}
/* inventory-panel{
    align-items: center;
    position: relative;
    justify-content: center;
    width: 1504px;
    height: 1504px;
    margin: 0 auto;
    border: 1px solid red;
} */