<div class="container">
  <canvas #myCanvas id="myCanvas" width="752" height="752"></canvas>
  <div class="board">
    <tile *ngFor='let tile of tiles; index as i' 
    [name]='tile.id' [contains]='tile.contains' 
    (click)='isId(tile)'
    [ngClass]='{
      darkness: !tile.visible,
      key: tile.key,
      crown: tile.crown,
      monster: tile.monster,
      stairs: tile.stairs,
      cloud: tile.cloud,
      lantern: tile.lantern,
      disguise: tile.disguise,
      door: tile.door,
      skull: tile.skull,
      edge: tile.edge,
      empty: tile.empty,
      occupied: tile.occupied,
      green : tile.green,
      red: tile.monster,
      void: tile.void,
      title1: tile.title1,
      title2: tile.title2,
      title3: tile.title3,
      title4: tile.title4,
      title5: tile.title5,
      title6: tile.title6,
      title7: tile.title7,
      title8: tile.title8,
      title9: tile.title9,
      title10: tile.title10
    }' >
      <!-- some text -->
    </tile>
  </div>
</div>