<div class="container">
  <canvas #myCanvas id="myCanvas" width="752" height="752"></canvas>
  <div class="board">
    <tile *ngFor='let tile of tiles; index as i' 
    [name]='tile.id' [contains]='tile.contains' 
    (click)='isId(tile)'
    [ngClass]='{
      darkness: !tile.visible,
      key: tile.key,
      crown: tile.crown,
      monster: tile.monster,
      stairs: tile.stairs,
      cloud: tile.cloud,
      lantern: tile.lantern,
      disguise: tile.disguise,
      door: tile.door,
      skull: tile.skull,
      edge: tile.edge,
      empty: tile.empty,
      occupied: tile.occupied,
      green : tile.green,
      red: tile.monster
    }' >
      <!-- some text -->
    </tile>
  </div>
</div>