

.tile-overlay{
    height: 100px;
    width: 100px;
    opacity: 0.8;
    position: absolute;

    background: 
    /* top, transparent red, faked with gradient */ 
    linear-gradient(
      to right,  #9fb8ad 0%, #1fc8db 51%, #2cb5e8 75%
    ),
    /* bottom, image */
    url('../../assets/icons/items/charms/scarab_charm.png');

    background-size: 400% 400%;
    -webkit-animation: selectionTimer 10s ease infinite;
    -moz-animation: selectionTimer 10s ease infinite;
    animation: selectionTimer 10s ease infinite;
}

/* background: linear-gradient(135deg, #30e5b6, #7450c5);
background-size: 400% 400%; */



@-webkit-keyframes selectionTimer {
    0%{background-position:15% 0%}
    50%{background-position:86% 100%}
    100%{background-position:15% 0%}
}
@-moz-keyframes selectionTimer {
    0%{background-position:15% 0%}
    50%{background-position:86% 100%}
    100%{background-position:15% 0%}
}
@keyframes selectionTimer { 
    0%{background-position:15% 0%}
    50%{background-position:86% 100%}
    100%{background-position:15% 0%}
}