

.tile-overlay{
    height: 100px;
    width: 100px;
    opacity: 0.8;
    position: absolute;
    /* background: rgba(55, 61, 82, 0.516); */
    background: rgba(82, 222, 82, 0.516);
    
}
.tile-overlay.begin{
    background: linear-gradient(
      to right,  white 0%, white 50%, rgba(245, 112, 112, 0.598) 60%, yellow 67.5%, rgba(82, 222, 82, 0.516) 75%
    );
    background-size: 400% 400%;
    -webkit-animation: selectionTimer 3s ;
    -moz-animation: selectionTimer 3s ;
    animation: selectionTimer 3s ;

    animation-fill-mode: forwards;
}

@-webkit-keyframes selectionTimer {
    0%{background-position:0% 0%}
    50%{background-position:50% 0%}
    100%{background-position:100% 0%}
}
@-moz-keyframes selectionTimer {
    0%{background-position:0% 0%}
    50%{background-position:50% 0%}
    100%{background-position:100% 0%}
}
@keyframes selectionTimer { 
    0%{background-position:0% 0%}
    50%{background-position:50% 0%}
    100%{background-position:100% 0%}
}