/* You can add global styles to this file, and also import other style files */
/* .tile{
    height:150px; 
    width:150px; 
    border: 1px solid black; 
    float:left; 
    display:flex;
    justify-content:center; 
    align-items:center; 
} */
*{
    overflow-x: hidden;
}
body{
    height: 100%;
    width: 100%;
}
tile{
    cursor: crosshair;
    /* border: 1px solid black; */
    /* flex-grow: 1; */
    /* max-height: 300px;
    max-width: 300px;
    min-width: 100px;
    min-height: 100px; */
    /* max-height: 200px; */
    /* max-width: 200px; */
    /* min-height: 200px;
    min-width: 200px; */
    /* min-height: 100px;
    min-width: 100px;
    max-width: 100px; */
    height: 100px;
    width: 100px;
    /* width: calc(10%-2px); */
    background-size: cover;
    background-repeat: no-repeat;
    /* transition: */
    -webkit-transition: background-color 0.5s; /* Safari */
    transition: background-color 0.5s;
    background-position: center;
}
tile:hover{
    /* background-color: azure; */
    background-color: grey
}


.red{
    /* background-color: red; */
}
.disguise{
    background-image: url('assets/icons/disuise.png');
    background-color: white;
}
.crown{
    background-image: url('assets/icons/crown.png');
    background-color: white;
}
tile.crown:hover{
    background-color: yellow;
}
.skull{
    background-image: url('assets/icons/skull1.png');
    background-color: white;
}
.crow{
    background-image: url('assets/icons/crow.png');
}
.crown{
    background-image: url('assets/icons/crown.png');
}
.lantern{
    background-image: url('assets/icons/lantern.png');
    background-color: gold;
}
.key{
    background-image: url('assets/icons/key.png');
    background-color: white;
}
.monster{
    background-image: url('assets/icons/monster.png');
    background-color: indianred;
}
.monster:hover{
    background-color: red;
}
.door{
    background-image: url('assets/icons/closed_door.png');
    background-color: white;
}
.cloud{
    background-image: url('assets/icons/cloud.png');
    background-color: white;
}
.stairs{
    background-image: url('assets/icons/stairs_down.png');
    background-color: white;
}
.occupied{
    background-image: url('assets/icons/avatar.png');
    background-position: center;
    background-attachment: white;
}
.green{
    background-color: aquamarine;
}
.empty{
    background-color: none;
}
.darkness{
    background-color: black;
}
tile.darkness:hover{
    background-color: black;
}
.void{
    background-color: black;
}
.title1{
    background-image: url('assets/icons/DOORSKEYS-D.png');
    background-color: black;
}
.title2{
    background-image: url('assets/icons/DOORSKEYS-O.png');
    background-color: black;
}
.title3{
    background-image: url('assets/icons/DOORSKEYS-O.png');
    background-color: black;
}
.title4{
    background-image: url('assets/icons/DOORSKEYS-R.png');
    background-color: black;
}
.title5{
    background-image: url('assets/icons/DOORSKEYS-S.png');
    background-color: black;
}
.title6{
    background-image: url('assets/icons/DOORSKEYS-&.png');
    background-color: black;
}
.title7{
    background-image: url('assets/icons/DOORSKEYS-K.png');
    background-color: black;
} 
.title8{
    background-image: url('assets/icons/DOORSKEYS-E.png');
    background-color: black;
}
.title9{
    background-image: url('assets/icons/DOORSKEYS-Y.png');
    background-color: black;
}
.title10{
    background-image: url('assets/icons/DOORSKEYS-S.png');
    background-color: black;
}
/* .title8{
    background-image: url('assets/icons/titleY.png');
}
.title9{
    background-image: url('assets/icons/titleS.png');
}  */