/* You can add global styles to this file, and also import other style files */
@import '/styles/items.css';
@import '/styles/monsters.css';
@import '/styles/numbers.css';

@font-face {
    font-family: East Sea Dokdo;
    src : url('../src/assets/fonts/EastSeaDokdo-Regular.ttf')
}
body,html{
    overflow: hidden;
}
*{
    overflow-x: hidden;
}
body{
    height: 100vh;
    width: 100vw;
    margin: 0;
}
.hidden{
    display: none;
}
tile{
    cursor: crosshair;
    height: 100px;
    width: 100px;
    /* width: calc(10%-2px); */
    background-size: cover;
    background-repeat: no-repeat;
    /* transition: */
    -webkit-transition: background-color 0.5s; 
    /* Safari */
    transition: background-color 0.5s;
    background-position: center;
}

tile:hover{
    background-color: grey
}
tile.inventory:hover{
    background-color: transparent;
}


.red{
    /* background-color: red; */
}


.crown{
    background-image: url('assets/icons/items/crown.png');
    background-color: white;
}
.crown.highlight{
    background-color: gold;
}
tile.crown:hover{
    background-color: yellow;
}
.skull{
    background-image: url('assets/icons/misc/long_skull.png');
    background-color: white;
}
.crow{
    background-image: url('assets/icons/crows/crow.png');
}
.lantern{
    background-image: url('assets/icons/items/lantern.png');
    background-color: white;
}
.item.highlight{
    background-color: gold;
}
.key{
    background-image: url('assets/icons/items/key.png');
    background-color: white;
}
.key.highlight{
    background-color: gold;
}
/* .monster{
    background-image: url('assets/icons/monster.png');
    background-color: indianred;
}
.monster:hover{
    background-color: red;
} */
.spawn_point{
    background-image: url('assets/icons/misc/spawn_point.png');
    /* background-color: white; */
}
.door{
    background-image: url('assets/icons/portals/closed_door.png');
    /* background-color: white; */
}
.door.highlight{
    background: aliceblue;
}
.cloud{
    background-image: url('assets/icons/portals/cloud.png');
    background-color: white;
}
.cloud.highlight{
    background-color: aliceblue;
}
.stairs{
    background-image: url('assets/icons/portals/stairs_down.png');
    background-color: white;
}
.stairs.highlight{
    background-color: aliceblue;
}
.pit{
    background-image: url('assets/icons/portals/pit.png');
    background-color: white;
}
.occupied{
    background-image: url('assets/icons/avatar.png');
    background-position: center;
}
.down{
    background-image: url('assets/icons/misc/down.png');
    background-position: center;
    background-color: white;
}
.green{
    background-color: aquamarine;
}
.darkness{
    /* background-color: black; */
}
tile.darkness:hover{
    /* background-color: black; */
}
.void{
    background-color: black;
}
.title.title1{
    background-image: url('assets/icons/title/DOORSKEYS-D.png');
    background-color: black;
}
.title.title2{
    background-image: url('assets/icons/title/DOORSKEYS-O.png');
    background-color: black;
}
.title.title3{
    background-image: url('assets/icons/title/DOORSKEYS-O.png');
    background-color: black;
}
.title.title4{
    background-image: url('assets/icons/title/DOORSKEYS-R.png');
    background-color: black;
}
.title.title5{
    background-image: url('assets/icons/title/DOORSKEYS-S.png');
    background-color: black;
}
.title.title6{
    background-image: url('assets/icons/title/DOORSKEYS-&.png');
    background-color: black;
}
.title.title7{
    background-image: url('assets/icons/title/DOORSKEYS-K.png');
    background-color: black;
} 
.title.title8{
    background-image: url('assets/icons/title/DOORSKEYS-E.png');
    background-color: black;
}
.title.title9{
    background-image: url('assets/icons/title/DOORSKEYS-Y.png');
    background-color: black;
}
.title.title10{
    background-image: url('assets/icons/title/DOORSKEYS-S.png');
    background-color: black;
}

.placementZone{
    /* background-color: none; */
}
.monsterZone{
    /* background-color: #b1bfcc; */
}
.placementZone:hover{
    background-color: whitesmoke;
}
.flash{
    background-color: red;
}
slowFade{
    -webkit-transition: background-color 1.5s;
    transition: background-color 1.5s;
}